# Archivos generados por Visual Studio
.vs/
*.vcxproj.user
*.VC.db
*.sdf

# Carpetas de compilación
Debug/
Release/
x64/

# Archivos temporales del sistema
*.log
*.obj
*.pch
*.ipch
*.aps
*.ncb
*.opendb

# Ignorar carpeta de versiones manuales
/pong-versions

# Archivos del sistema operativo
.DS_Store
Thumbs.db
